<div class="search-form">
  <%= form_with url: user_search_path, method: :get, local: true do |f| %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
  <% end %>
</div>