<% if @model == 'user' %>
  <h3>Users search for <%= @genre_id %></h3>
  <%= render 'users/index', users: @users %>
<% elsif %>
  <h3>Videos search for <%= @genre_id %></h3>
  <%= render 'videos/index', videos: @videos %>
<% end %>