<h2>告知詳細</h2>

[title]
<%= @information.title %>

[content]
<%= @information.content %>

<%= link_to "削除する", admin_information_path(@information), method: :delete, class:"btn btn-primary ml-3" %>
<%= link_to "戻る", admin_informations_path, class:"btn btn-primary ml-3" %>