<div class="p-main mt-3">

  <h3 class="text-center mb-0" style="color: #1a1a1a+; background-color: #ffd5da; padding: 10px 0; border-top: solid 1px #EB3642;">コーチ一覧</h3>
    <div class="container text-center mt-3 col-md-12 col-sm-12 col-12">
    <% @users. each do |user| %>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-3 col-3 d-flex align-items-center justify-content-center">
          <%= attachment_image_tag user, :icon, size: "100x100" %>
        </div>
        <div class="col-md-6 col-sm-6 col-6 mt-2 align-items-center justify-content-center">
          <p class="mb-0"><%= link_to user.full_name, user_user_path(user) %></p>
          <p class="mb-0"><%= user.genre_id %></p>
          <p class="mb-0"><%= user.status_id %></p>
        </div>
        <div class="col-md-3 col-sm-3 col-3 d-flex align-items-center justify-content-center">
        </div>
      </div>
    <% end %>
    </div>
</div>