<div class="search-form">
  <%= form_with url: user_search_path, method: :get, local: true do |f| %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
    <%= f.select :model, options_for_select({"User" => "user", "Video" => "video"}) %>
    <%= f.submit '検索' %>
  <% end %>
</div>